---
http_interactions:
- request:
    method: get
    uri: https://shopping.yahooapis.jp/ShoppingWebService/V1/json/itemSearch?affiliate_id=http%253A%252F%252Fck.jp.ap.valuecommerce.com%252Fservlet%252Freferral%253Fsid%253D12345%2526pid%253D67890%2526vc_url%253D&affiliate_type=vc&appid=testappid&callback=loaded&category_id=47733&image_size=600&query=nikon%20d810&type=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: '/* */loaded({"ResultSet":{"totalResultsAvailable":"107","totalResultsReturned":20,"firstResultPosition":"1","0":{"Result":{"Request":{"Query":"nikon
        d810"},"Modules":"","0":{"Name":"Nikon\uff08\u30cb\u30b3\u30f3\uff09 D810
        \u30dc\u30c7\u30a3","Description":"\u5546\u54c1\u540d\u3011 D810 \u30dc\u30c7\u30a3  \u3010\u5546\u54c1\u72b6\u614b\u3011
        \u65b0\u54c1  \u3010\u5546\u54c1\u8aac\u660e\u3011 \u8a73\u7d30\u306b\u3064\u304d\u307e\u3057\u3066\u306f\u3001\u30e1\u30fc\u30ab\u30fc\u30b5\u30a4\u30c8\u7b49\u3067\u5404\u81ea\u3054\u78ba\u8a8d\u304f\u3060\u3055\u3044\u3002
        \u8a18\u8f09\u3068\u4e00\u90e8\u7570\u306a\u308b\u5834\u5408\u304c\u3054\u3056\u3044\u307e\u3059\u3001\u3054\u4e86\u627f\u304f\u3060\u3055\u3044\u307e\u305b\u3002  \u3010\u5099\u8003\u3011
        \u8cfc\u5165\u524d\u306b\u3001\u304a\u8cb7\u3044\u7269\u30ac\u30a4\u30c9\u3092\u3054\u4e00\u8aad\u4e0b\u3055\u3044\u307e\u305b\u3002
        \u8cfc\u5165\u5f8c\u3001\u30e1\u30fc\u30ab\u30fc\u4fdd\u8a3c\u304c1\u5e74\u9593\u3054\u3056\u3044\u307e\u3059\u3002","Headline":"\u3010\u65b0\u54c1\u30fb\u5373\u65e5\u767a\u9001\u30fb\u5728\u5eab\u6709\u308a\u30fb\u9001\u6599\u7121\u6599\u30fb\u6c96\u7e04or\u96e2\u5cf6\u3092\u9664\u304f\u3011","Url":"http:\/\/ck.jp.ap.valuecommerce.com\/servlet\/referral?sid=12345&pid=67890&vc_url=http%3A%2F%2Fstore.shopping.yahoo.co.jp%2Fheiwashop%2Fheiwa009.html","ReleaseDate":"","Availability":"instock","Code":"heiwashop_heiwa009","Condition":"new","PersonId":"","ProductId":"0dfdc324eea8e33251d10a83f81c4457","Image":{"Id":"heiwashop_heiwa009","Small":"https:\/\/item-shopping.c.yimg.jp\/i\/c\/heiwashop_heiwa009","Medium":"https:\/\/item-shopping.c.yimg.jp\/i\/g\/heiwashop_heiwa009"},"ExImage":{"Url":"https:\/\/item-shopping.c.yimg.jp\/i\/l\/heiwashop_heiwa009","Width":600,"Height":600},"Review":{"Rate":"0.00","Count":"0","Url":"http:\/\/ck.jp.ap.valuecommerce.com\/servlet\/referral?sid=12345&pid=67890&vc_url=http%3A%2F%2Fshopping.yahoo.co.jp%2Freview%2Fitem%2Flist%3Fstore_id%3Dheiwashop%26page_key%3Dheiwa009"},"Affiliate":{"Rate":"1.0"},"Price":{"_attributes":{"currency":"JPY"},"_value":"239800"},"PriceLabel":{"_attributes":{"taxIncluded":"true"},"FixedPrice":"","DefaultPrice":"239800","SalePrice":"","BaseFixedPrice":"","BaseDefaultPrice":"222038","BaseSalePrice":"","PeriodStart":"","PeriodEnd":""},"Point":{"Amount":"2398","Times":"1","PremiumAmount":"2398","PremiumTimes":"1"},"Shipping":{"Code":"2","Name":"\u9001\u6599\u7121\u6599"},"Category":{"Current":{"Id":"47735","Name":"\u30c7\u30b8\u30bf\u30eb\u4e00\u773c\u30ec\u30d5\u30ab\u30e1\u30e9"}},"CategoryIdPath":{"0":{"Id":"1"},"1":{"Id":"2504"},"2":{"Id":"2443"},"3":{"Id":"47733"},"4":{"Id":"47735"},"_container":"Category"},"Brands":{"Name":"\u30cb\u30b3\u30f3","Path":{"0":{"Id":"1"},"1":{"Id":"1345"},"_container":"Brand"}},"JanCode":"4960759143532","Model":"D810","IsbnCode":"","Store":{"Id":"heiwashop","Name":"\u5e73\u548cshop","SellerType":"B","Url":"http:\/\/store.shopping.yahoo.co.jp\/heiwashop\/","Payment":{"0":{"Code":"1","Name":"\u30af\u30ec\u30b8\u30c3\u30c8\u30ab\u30fc\u30c9"},"1":{"Code":"16","Name":"Yahoo!\u30a6\u30a9\u30ec\u30c3\u30c8\u306b\u767b\u9332\u3057\u3066\u3044\u308b\u30af\u30ec\u30b8\u30c3\u30c8\u30ab\u30fc\u30c9"},"2":{"Code":"4","Name":"\u5546\u54c1\u4ee3\u5f15"},"3":{"Code":"2","Name":"\u9280\u884c\u632f\u8fbc"},"4":{"Code":"128","Name":"\u30da\u30a4\u30b8\u30fc"},"5":{"Code":"64","Name":"\u30b3\u30f3\u30d3\u30cb"},"6":{"Code":"2048","Name":"Yahoo!\u30de\u30cd\u30fc\/\u9810\u91d1\u6255\u3044"},"_container":"Method"},"IsBestStore":"false","Ratings":{"Rate":"1.0","Count":"1","Total":"1","DetailRate":"1"},"Image":{"Id":"heiwashop_1","Medium":"https:\/\/item-shopping.c.yimg.jp\/s\/h\/heiwashop_1"},"SameDayDelivery":{"Areas":"","Deadline":"","Conditions":""},"ExpressDelivery":{"Areas":"","Deadline":"","Conditions":""}},"IsAdult":"0","_attributes":{"index":"1"}},"1":{"Name":"\u300a\u65b0\u54c1\u300b
        Nikon\uff08\u30cb\u30b3\u30f3\uff09 D810 \u30dc\u30c7\u30a3","Description":"[
        \u30c7\u30b8\u30bf\u30eb\u4e00\u773c\u30ec\u30d5\u30ab\u30e1\u30e9 | \u30c7\u30b8\u30bf\u30eb\u4e00\u773c\u30ab\u30e1\u30e9
        | \u30c7\u30b8\u30bf\u30eb\u30ab\u30e1\u30e9 ]","Headline":"","Url":"http:\/\/ck.jp.ap.valuecommerce.com\/servlet\/referral?sid=12345&pid=67890&vc_url=http%3A%2F%2Fstore.shopping.yahoo.co.jp%2Fymapcamera%2F4960759143532.html","Rel[...]
