---
http_interactions:
- request:
    method: get
    uri: http://shopping.yahooapis.jp/ShoppingWebService/V1/json/itemSearch?affiliate_id=http%253A%252F%252Fck.jp.ap.valuecommerce.com%252Fservlet%252Freferral%253Fsid%253D12345%2526pid%253D67890%2526vc_url%253D&affiliate_type=vc&appid=testappid&callback=loaded&category_id=4875&query=nikon%20d800&type=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        loaded({"ResultSet":{"totalResultsAvailable":"99","totalResultsReturned":20,"firstResultPosition":"1","0":{"Result":{"Request":{"Query":"nikon d800"},"Modules":"","0":{"Name":"\u30cb\u30b3\u30f3(Nikon)\u3000D800 \u30dc\u30c7\u30a3","Description":"\u6709\u52b9\u753b\u7d20\u6570\uff1a3630\u4e07\u753b\u7d20 \u64ae\u50cf\u7d20\u5b50\uff1a35.9\u00d724.0\u3000\u203bCMOS\u30bb\u30f3\u30b5\u30fc\u3001\u30cb\u30b3\u30f3FX\u30d5\u30a9\u30fc\u30de\u30c3\u30c8 \u6db2\u6676\u30b5\u30a4\u30ba\uff1a3.2\u30a4\u30f3\u30c1\u3000\u203bTFT \u6db2\u6676\u3001\u7d0492 \u4e07\u30c9\u30c3\u30c8\uff08VGA\uff09\u3001\u8996\u91ce\u89d2170\u00b0\u3001\u8996\u91ce\u7387\u7d04100\uff05\u3001\u660e\u308b\u3055\u8abf\u6574\u53ef\u80fd\u3001\u7167\u5ea6\u30bb\u30f3\u30[...]
