---
http_interactions:
- request:
    method: get
    uri: http://auctions.yahooapis.jp/AuctionWebService/V2/search?appid=testappid&callback=loaded&category=2084261634&output=json&query=nikon%20d800&sort=bids&type=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: loaded({"ResultSet":{"@attributes":{"totalResultsAvailable":"64","totalResultsReturned":"50","firstResultPosition":"1"},"Result":{"UnitsWord":"nikon
        d800 \u30dc\u30c7\u30a3","Item":[{"AuctionID":"f131202355","Title":"\u2605\u7bb1\u4ed8\u4ed8\u5c5e\u54c1\u4e00\u5f0f\u2605Nikon
        D800 \u30cb\u30b3\u30f3 \u30dc\u30c7\u30a3 3\u30f6\u6708\u4fdd\u8a3c\u6709\u2605725","CategoryId":"2084261636","Seller":{"Id":"dbrrg628","ItemListUrl":"http:\/\/auctions.yahooapis.jp\/AuctionWebService\/V2\/sellingList?sellerID=dbrrg628","RatingUrl":"http:\/\/auctions.yahooapis.jp\/AuctionWebService\/V1\/ShowRating?id=dbrrg628"},"ItemUrl":"http:\/\/auctions.yahooapis.jp\/AuctionWebService\/V2\/auctionItem?auctionID=f131202355","AuctionItemUrl":"http:\/\/page6.auctions.yahoo.co.jp\/jp\/auction\/f131202355","Image":"http:\/\/auctions.c.yimg.jp\/img369.auctions.yahoo.co.jp\/users\/4\/9\/9\/2\/dbrrg628-thumb-1376024580992466.jpg","CurrentPrice":"161000.00","Bids":"58","EndTime":"2013-08-10T22:42:25+09:00","BidOrBuy":"268000.00","IsReserved":"false","CharityOption":{"Proportion":"0"},"Affiliate":{"Rate":"1"},"Option":{"NewIcon":"http:\/\/image.auctions.yahoo.co.jp\/i\/auctions\/new3.gif","FeaturedIcon":"http:\/\/image.auctions.yahoo.co.jp\/images\/featured.gif","BuynowIcon":"http:\/\/image.auctions.yahoo.co.jp\/images\/buynow.gif","EasyPaymentIcon":"http:\/\/i.yimg.jp\/images\/pay\/icon_s16.gif","IsBold":"false","IsBackGroundColor":"false","IsOffer":"false","IsCharity":"false"},"IsAdult":"false"},{"AuctionID":"c393021392","Title":"\u25cf\u25cbNIKON
        D800 \u6975\u4e0a\u54c1 \u25cb\u25cf","CategoryId":"2084261636","Seller":{"Id":"bbcameras","ItemListUrl":"http:\/\/auctions.yahooapis.jp\/AuctionWebService\/V2\/sellingList?sellerID=bbcameras","RatingUrl":"http:\/\/auctions.yahooapis.jp\/AuctionWebService\/V1\/ShowRating?id=bbcameras"},"ItemUrl":"http:\/\/auctions.yahooapis.jp\/AuctionWebService\/V2\/auctionItem?auctionID=c393021392","AuctionItemUrl":"http:\/\/page3.auctions.yahoo.co.jp\/jp\/auction\/c393021392","Image":"http:\/\/auctions.c.yimg.jp\/f53batchimg.auctions.yahoo.co.jp\/users\/2\/5\/2\/7\/bbcameras-thumb-1375815303216022.jpg","CurrentPrice":"162000.00","Bids":"27","EndTime":"2013-08-13T22:31:11+09:00","IsReserved":"false","CharityOption":{"Proportion":"0"},"Option":{"StoreIcon":"http:\/\/image.auctions.yahoo.co.jp\/images\/premium.gif","EasyPaymentIcon":"http:\/\/i.yimg.jp\/images\/pay\/icon_s16.gif","IsBold":"false","IsBackGroundColor":"true","IsOffer":"false","IsCharity":"false"},"IsAdult":"false"},{"AuctionID":"r105211795","Title":"Nikon
        D800 \u30dc\u30c7\u30a3","CategoryId":"2084261636","Seller":{"Id":"ncmgx928","ItemListUrl":"http:\/\/auctions.yahooapis.jp\/AuctionWebService\/V2\/sellingList?sellerID=ncmgx928","RatingUrl":"http:\/\/auctions.yahooapis.jp\/AuctionWebService\/V1\/ShowRating?id=ncmgx928"},"ItemUrl":"http:\/\/auctions.yahooapis.jp\/AuctionWebService\/V2\/auctionItem?auctionID=r105211795","AuctionItemUrl":"http:\/\/page13.auctions.yahoo.co.jp\/jp\/auction\/r105211795","Image":"http:\/\/auctions.c.yimg.jp\/img365.auctions.yahoo.co.jp\/users\/1\/1\/0\/5\/ncmgx928-thumb-1375662288618317.jpg","CurrentPrice":"194000.00","Bids":"15","EndTime":"2013-08-10T22:24:23+09:00","IsReserved":"false","CharityOption":{"Proportion":"0"},"Option":{"NewItemIcon":"http:\/\/image.auctions.yahoo.co.jp\/images\/gift\/c_attention_01.gif","EasyPaymentIcon":"http:\/\/i.yimg.jp\/images\/pay\/icon_s16.gif","IsBold":"false","IsBackGroundColor":"false","IsOffer":"false","IsCharity":"false"},"IsAdult":"false"},{"AuctionID":"h179286512","Title":"Nikon
        D800 \u3010\u7f8e\u54c1\u3011","CategoryId":"2084261636","Seller":{"Id":"omegataku0408","ItemListUrl":"http:\/\/auctions.yahooapis.jp\/AuctionWebService\/V2\/sellingList?sellerID=omegataku0408","RatingUrl":"http:\/\/auctions.yahooapis.jp\/AuctionWebService\/V1\/ShowRating?id=omegataku0408"},"ItemUrl":"http:\/\/auctions.yahooapis.jp\/AuctionWebService\/V2\/auctionItem?auctionID=h179286512","AuctionItemUrl":"http:\/\/page8.auctions.yahoo.co.jp\/jp\/auction\/h179286512","Image":"http:\/\/auctions.c.yimg.jp\/img231.auctions.yahoo.co.jp\/users\/1\/0\/0\/7\/omegataku0408-thumb-1375619092896147.jpg","CurrentPrice":"193000.00","Bids":"12","EndTime":"2013-08-10T23:20:35+09:00","IsReserved":"false","CharityOption":{"Proportion":"0"},"Option":{"FeaturedIcon":"http:\/\/image.auctions.yahoo.co.jp\/images\/featured.gif","EasyPaymentIcon":"http:\/\/i.yimg.jp\/images\/pay\/icon_s16.gif","GiftIcon":"http:\/\/auctions.c.yimg.jp\/image.auctions.yahoo.co.jp\/images\/gift\/c_attention_02.gif","IsBold":"false","IsBackGroundColor":"false","IsOffer":"false","IsCharity":"false"},"IsAdult":"false"},{"AuctionID":"u53225749","Title":"Nikon
        D800E \u30ec\u30f3\u30ba\u30bb\u30c3\u30c8 \u672a\u958b\u5c01\u65b0\u54c1","CategoryId":"2084261636","Seller":{"Id":"tsutomuNS27","ItemListUrl":"http:\/\/auctions.yahooapis.jp\/AuctionWebService\/V2\/sellingList?sellerID=tsutomuNS27","RatingUrl":"http:\/\/a[...]
